data:
  build: src/containers/data
  hostname: data
  volumes:
    - data:/data
nginx:
  build: src/containers/nginx
  hostname: nginx
  environment:
    - LOCAL_UID=##LOCAL_UID##
    - LOCAL_GID=##LOCAL_GID##
  links:
    - php
  volumes_from:
    - data
  ports:
    - "8000:80"
  privileged: true
php:
  build: src/containers/php
  hostname: php
  environment:
    - LOCAL_UID=##LOCAL_UID##
    - LOCAL_GID=##LOCAL_GID##
  links:
    - mysql
    - mailcatcher
    - solr
  volumes_from:
    - data
  privileged: true
cli:
  build: src/containers/cli
  hostname: cli
  environment:
    - LOCAL_UID=##LOCAL_UID##
    - LOCAL_GID=##LOCAL_GID##
    - COMPOSER_CACHE_DIR=/composer-cache
  links:
    - mysql
    - mailcatcher
    - solr
  volumes_from:
    - data
  volumes:
    - data/var/apps/drush:/home/www-data/.drush
    - data/var/cache/composer:/composer-cache
    # Add ssh keys to container in order to download private repos.
    - data/ssh-keys:/home/www-data/.ssh
  privileged: true
mysql:
  build: src/containers/mysql
  hostname: mysql
  privileged: true
  ports:
    - "3307:3306"
  volumes_from:
    - data
mailcatcher:
  build: src/containers/mailcatcher
  hostname: mailcatcher
  volumes_from:
    - data
  ports:
    - "1081:1080"
solr:
  image: twinbit/solr
  hostname: solr
  ports:
    - "8983:8983"
  command: -Xmx1024m -DSTOP.PORT=8079 -DSTOP.KEY=stopkey -jar start.jar


